@font-face {
    font-family: "Work Sans", sans-serif;
    src: url("/fonts/WorkSans-Regular.eot");
    src: url("/fonts/WorkSans-Regular.eot?#iefix") format('embedded-opentype'),
         url("/fonts/WorkSans-Regular.woff2") format('woff2'),
         url("/fonts/WorkSans-Regular.woff") format('woff'),
         url("/fonts/WorkSans-Regular.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Work Sans", sans-serif;
    src: url("/fonts/WorkSans-Bold.eot");
    src: url("/fonts/WorkSans-Bold.eot?#iefix") format('embedded-opentype'),
         url("/fonts/WorkSans-Bold.woff2") format('woff2'),
         url("/fonts/WorkSans-Bold.woff") format('woff'),
         url("/fonts/WorkSans-Bold.ttf") format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Work Sans", sans-serif;
    src: url("/fonts/WorkSans-Light.eot");
    src: url("/fonts/WorkSans-Light.eot?#iefix") format('embedded-opentype'),
         url("/fonts/WorkSans-Light.woff2") format('woff2'),
         url("/fonts/WorkSans-Light.woff") format('woff'),
         url("/fonts/WorkSans-Light.ttf") format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Work Sans", sans-serif;
    src: url("/fonts/WorkSans-Medium.eot");
    src: url("/fonts/WorkSans-Medium.eot?#iefix") format('embedded-opentype'),
         url("/fonts/WorkSans-Medium.woff2") format('woff2'),
         url("/fonts/WorkSans-Medium.woff") format('woff'),
         url("/fonts/WorkSans-Medium.ttf") format('truetype');
    font-weight: 500;
    font-style: normal;
}
  
